<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chc.peaceworld.user.repository.UserMapper">
    <cache eviction="LRU" flushInterval="86400000" size="1024" readOnly="false"/>
</mapper>